<?xml version='1.0' encoding='UTF-8'?>
<widget
    android-versionCode='1'
    id='com.iBuilderThings.LoginApp'
    version='1.0.0'
    xmlns='https://www.w3.org/ns/widgets'
    xmlns:cdv='http://cordova.apache.org/ns/1.0'>

    <name>Album</name>
    <description>Log in App</description>
    <author>Codedrin</author>

    <preference name='orientation' value='portrait' />
</widget>
